

<div class="excel-dashboard-selectors">
  <label for="accountDropdown">Account:</label>
  <select id="accountDropdown">
    <option value="account1">Account 1</option>
    <option value="account2">Account 2</option>
    <option value="account3">Account 3</option>
    <option value="account4">Account 4</option>
  </select>
  <input type="file" (change)="readExcel($event)">
</div>



<h1 class="text-center" style="font-family: monospace;">Excel Data Dashboard</h1>
<button (click)="toggleEditMode()" *ngIf="tableConfig">{{ isEditing ? 'ReadOnly Mode' : 'Edit Mode' }}</button>
<div id="dashboard-container">
  <table>
    <tr>
      <th *ngFor="let column of tableConfig.columns; let i = index">
        <span style="font-family: monospace;" (dblclick)="editColumnName(i)">{{ column.title }}</span>
        <input type="text" [(ngModel)]="column.title" *ngIf="isEditingColumn === i">
        <button (click)="saveColumnName(i)" *ngIf="isEditingColumn === i">Save</button>
        <button (click)="cancelEditColumnName()" *ngIf="isEditingColumn === i">Cancel</button>
        <button (click)="deleteColumn(i)" *ngIf="isEditingColumn === i">Delete</button>
      </th>
       <th>  <button (click)="addColumn()"  *ngIf="tableConfig">Add Column</button> 
       </th> 
    </tr>
    <tr *ngFor="let row of ExcelData; let i = index">
      <td *ngFor="let column of tableConfig.columns">
        <input type="text"  [(ngModel)]="ExcelData[i][column.field]" [readonly]="isEditing">
      </td>
      <td *ngFor="let newColumn of row.newColumns; let j = index">
        <input type="text" [(ngModel)]="row.newColumns[j].value" [readonly]="isEditing">
      </td>
      <td>
        <button (click)="deleteRow(i)">Delete</button>
      </td>
    </tr>
  </table>
  <button style="margin-right: 10px;" (click)="addRow()" *ngIf="tableConfig">Add Row</button>
  <button (click)="updateData()" *ngIf="tableConfig">Update</button>
</div>

